/semana 2/Laboratorio2Proyectos/nbproject/private/
/semana 2/Laboratorio2Proyectos/build/
/semana 2/Estructuras_control/nbproject/private/
/semana 2/Estructuras_control/build/
/semana 2/ingresarnotas/target/
/semana 2/cicloswhileyfor/nbproject/private/
/semana 2/cicloswhileyfor/build/
/semana3/Almendarez_Galatea_estructura/nbproject/private/
/semana3/Almendarez_Galatea_estructura/build/
